In [ ]:
from pathlib import Path

import numpy as np

data = np.genfromtxt(
    Path(Path.cwd()) / f"data/catalogs/relano2016_m33_apertures.txt",
    skip_header=1,
    delimiter=",",
    dtype=(int, "<U25", "<U25", float, "<U25"),
)
data[:5]

array([(1, '01:32:32.330', '+30:35:03.97', 48.5, 'Mixed'),
       (2, '01:32:34.685', '+30:30:27.45', 40.7, 'Mixed'),
       (3, '01:32:34.687', '+30:27:29.01', 44.8, 'Mixed'),
       (4, '01:32:37.566', '+30:40:08.76', 53.2, 'ClearShell'),
       (5, '01:32:44.823', '+30:34:58.75', 29.5, 'Filled')],
      dtype=[('f0', '<i8'), ('f1', '<U25'), ('f2', '<U25'), ('f3', '<f8'), ('f4', '<U25')])

In [40]:
import pandas as pd

data = pd.read_csv(Path(Path.cwd()) / f"data/catalogs/relano2016_m33_apertures.txt")
data[:5]

   ID            RA           DEC      ap_radius        type
0   1  01:32:32.330  +30:35:03.97           48.5       Mixed
1   2  01:32:34.685  +30:30:27.45           40.7       Mixed
2   3  01:32:34.687  +30:27:29.01           44.8       Mixed
3   4  01:32:37.566  +30:40:08.76           53.2  ClearShell
4   5  01:32:44.823  +30:34:58.75           29.5      Filled

In [41]:
data.columns

Index(['ID', ' RA', '    DEC', '    ap_radius', '    type'], dtype='object')

In [42]:
data = pd.read_csv(
    Path(Path.cwd()) / f"data/catalogs/relano2016_m33_apertures.txt",
    skipinitialspace=True,
)
data.columns

Index(['ID', 'RA', 'DEC', 'ap_radius', 'type'], dtype='object')

In [43]:
data.loc[data.ap_radius > 55]

   ID            RA           DEC  ap_radius        type
5   6  01:32:44.903  +30:25:10.88       60.0  ClearShell